body {
    background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
.bg-free{
  background-color: rgba(227, 226, 226, 0.81);
}

.bg-pro{
  background-color: blueviolet;
}

.bg-pro-content{
  background-color: #cc9af2;
}

.bg-empresas{
  background-color: aqua;
  border-color: aqua;
}

.bg-empresas-content{
  background-color: #b2ffff;
}